<% locals.has_nav = true; %>
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <script src="https://www.gstatic.com/charts/loader.js" nonce="<%=res.cspNonce.script%>" defer></script>
        <title><%=database_name%></title>
        <meta name="description" content="База данных <%=database_name%>">
        <script src="/static/js/database.js" type="module" nonce="<%=res.cspNonce.script%>"></script>
        <%- include("./general/head.ejs", locals) %>
    </head>
    <body>
        <%- include("./general/nav.ejs", locals) %>
        
        <div class="main_body">
            <%- include("./general/header.ejs", locals) %>
            <main tabindex="-1">
                <h1>База данных <span id="database_name"><%=database_name%></span></h1>
                <dl class="margin_vertical_regular">
                    <dt>Версия PostgreSQL</dt>
                    <dd id="postgres_version">&nbsp;</dd>

                    <dt>Время работы</dt>
                    <dd id="uptime">&nbsp;</dd>

                    <dt>Объём памяти</dt>
                    <dd id="database_size">&nbsp;</dd>

                    <dt>Последний сброс статистики</dt>
                    <dd id="stats_reset">&nbsp;</dd>
                </dl>
                <p class="margin_vertical_regular">Ниже представлена статистика нагрузки на сервер базы данных, которая может быть полезна при диагностике ошибок БД администратором:</p>
                <div class="graphs">
                    <div class="surface_rounded" id="connections_graph"></div>
                    <div class="surface_rounded" id="queries_graph"></div>
                    <div class="surface_rounded" id="reads_graph"></div>
                    <div class="surface_rounded" id="updates_graph"></div>
                    <div class="surface_rounded" id="blocks_graph"></div>
                    <div class="surface_rounded" id="worktime_graph"></div>
                </div>
            </main>
        </div>
    </body>
</html>